{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/family/new/', 'new', 'Add Family'),
    ('/family/edit/', 'edit', 'Edit Family'),
] -%}

{% set active_page = active_page|default('home') -%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Phonebook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% for href, id, caption in navigation_bar %}
                <li class="nav-item{% if id == active_page %} active{% endif %}">
                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }}{% if id == active_page %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            {% endfor %}

        </ul>
    </div>
</nav>