.family-member-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 15px 0;

    border-bottom: 1px solid rgba(0,0,0,0.15)
}

.family-member-container:first-child {
    border-top: 1px solid rgba(0,0,0,0.15)
}

.family-label {
    font-size: 1.2rem;
    text-align: center;
}

.member-number-display {
    margin: 0px 15px 15px 15px;
    padding: 0px 15px;
    font-size: 2em;
}

.member-info {
    flex-grow: 1;
}

/* .member-phone-number-group .form-group:last-child {
    margin-bottom: 0;
} */

.phone-number-controls {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px; 
}

.family-members-controls {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px; 
}

.phone-number-control, .family-members-control {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    width: 30%;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.15);
}

.phone-number-control:hover, .family-members-control:hover {
    background-color: rgba(0,0,0,0.2);
}

.phone-number-control:active, .family-members-control:active {
    background-color: rgba(0,0,0,0.3);
}