.alpha-index {
    margin-bottom: 15px;
}

.divider {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.btn {
    margin: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}