.phone-directory {
    display: flex;
}

.alpha-index {
    /* position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    position: sticky;
    top: 0px;
    height: 150px;
}

.indexes {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 5px 5px 5px;

    color: gray;
}

.indexes a, .indexes a:hover, .indexes a:active, .indexes a:visited {
    color: gray;
}

.directory {
    flex-grow: 1;
}

.letter-group {
    display: flex;
    margin-top: 10px;
}

.letter-group > p {
    font-size: 30px;
    font-weight: 700;

    border-right: 1px solid lightgray;

    width: 35px;
}

.letter-group > .letter-group-families {
    padding-top: 10px;
    padding-left: 10px;
    flex-grow: 1;
}

.family h4 {
    border-bottom: 1px solid lightgray;
}