:root {
    --badge-font-color: rgb(58, 107, 211); 
    --badge-bg-color: rgb(234, 234, 234); 
    --badge-border-color: grey;
}

.small-names {
    font-size: 15px;
    color: grey;
}

.badge, .phone.type {
    display: inline-block;
    width: 50px;
    margin: 2px 5px 2px 1px;
    padding: 1px 3px;

    font-size: 0.9rem;
    text-align: center;

    color: var(--badge-font-color);
    background-color: var(--badge-bg-color);
    border: 1px solid var(--badge-border-color);
    border-radius: 3px;
}