<div class="family-member-container" data-member="{{memberNumber}}">
    <span class="member-number-display" data-count="{{memberNumber}}">{{memberNumber}}</span>
    <div class="member-info">
        <div class="form-group row align-items-center">
            <label for="member-{{memberNumber}}_first-name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="member-{{memberNumber}}_first-name" name="member-{{memberNumber}}_first-name" placeholder="First Name" value="{{memberFirstName}}" required>
            </div>
        </div>
        <!-- <div class="form-group row align-items-center">
                <label for="member-1_first-name" class="col-sm-2 col-form-label">Middle Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="member-1_middle-name" name="member-1_middle-name" placeholder="Middle Name" value="{{memberMiddleName}}">
                </div>
            </div> -->
        <div class="form-group row align-items-center">
            <label for="member-{{memberNumber}}_last-name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" 
                    class="form-control" 
                    id="member-{{memberNumber}}_last-name" 
                    name="member-{{memberNumber}}_last-name" 
                    value="{{memberLastName}}"
                    placeholder="Last Name" 
                    data-different-from-main-last-name="false"
                    required>
            </div>
        </div>
        <div class="member-phone-number-group">
            {{> memberPhoneNumberEntry }}
        </div>
        <div class="phone-number-controls">
            <span class="phone-number-control add">(add phone number)</span>
            <span class="phone-number-control remove">(remove phone number)</span>
        </div>
        <div class="form-group row align-items-center">
            <label for="member-birthday" class="col-sm-2 col-form-label">Birthday</label>
            <div class="col-sm-4">
                <select id="member-{{memberNumber}}_birthday-month" name="member-{{memberNumber}}_birthday-month" 
                  class="form-control form-month" value="{{memberBirthMonth}}"
                  data-birthday-pair="member-{{memberNumber}}_birthday-date" required>
                    <option value="1"{{#unless memberBirthMonth}} selected{{/unless}}>January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select id="member-{{memberNumber}}_birthday-date" name="member-{{memberNumber}}_birthday-date" 
                  class="form-control form-date" value="{{memberBirthDate}}"
                  data-birthday-pair="member-{{memberNumber}}_birthday-month" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select id="member-{{memberNumber}}_birthday-year" name="member-{{memberNumber}}_birthday-year" 
                  class="form-control form-date" value="{{memberBirthYear}}" required>
                    <option value="no">Prefer not to say</option>
                    {{#each yearOptions}}
                    <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</div>