<div class="form-group row align-items-center">
    <div class="col-sm-2">
        <label for="family-name" class="col-form-label family-label">Family Name</label>
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="family-name" name="family-name" placeholder="Family Name" value="{{familyName}}" required>
    </div>
</div>
<div class="form-group row align-items-center">
    <div class="col-sm-2">
        <label for="family-address-1" class="col-form-label">Address 1</label>
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="family-address-1" name="family-address-1" placeholder="Address 1" value="{{familyAddress1}}">
    </div>
</div>
<div class="form-group row align-items-center">
    <div class="col-sm-2">
        <label for="family-address-2" class="col-form-label">Address 2</label>
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="family-address-2" name="family-address-2" placeholder="Address 2" value="{{familyAddress2}}">
    </div>
</div>
<div class="form-group row align-items-center">
    <div class="col-sm-2">
        <label for="family-address-3" class="col-form-label">Address 3</label>
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="family-address-3" name="family-address-3" placeholder="Address 3" value="{{familyAddress3}}">
    </div>
</div>
<div class="form-group row align-items-center">
    <div class="col-sm-2">
        <label for="family-city" class="col-form-label">City</label>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="family-city" name="family-city" placeholder="City" value="{{familyCity}}">
    </div>
    <div class="col-sm-1">
        <label for="family-province" class="col-form-label">Prov</label>
    </div>
    <div class="col-sm-2">
        <select id="family-province" name="family-province" class="form-control" value="{{familyProvince}}">
            <option value="NL">NL</option>
            <option value="PE">PE</option>
            <option value="NS">NS</option>
            <option value="NB">NB</option>
            <option value="QC">QC</option>
            <option value="ON">ON</option>
            <option value="MB">MB</option>
            <option value="SK" {{#unless province}}selected{{/unless}}>SK</option>
            <option value="AB">AB</option>
            <option value="BC">BC</option>
            <option value="YT">YT</option>
            <option value="NT">NT</option>
            <option value="NU">NU</option>
        </select>
    </div>
    <div class="col-sm-1">
        <label for="family-postal-code" class="col-form-label">PC</label>
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="family-postal-code" name="family-postal-code" placeholder="H0H 0H0" value="{{familyPostalCode}}" pattern="([a-zA-Z][0-9][a-zA-Z] ?[0-9][a-zA-Z][0-9])|([0-9]{5})" oninvalid="this.setCustomValidity('Postal codes must either be in the Canadian [A1A 1A1] or American [90210]format')" oninput="this.setCustomValidity('')">
    </div>
</div>