<div class="form-group row align-items-center" data-member="{{memberNumber}}" data-phone-number="{{memberPhoneNumber}}">
    <label for="member-{{memberNumber}}_phone-number-{{memberPhoneNumber}}" class="col-sm-2 col-form-label">Contact {{memberPhoneNumber}}</label>
    <div class="col-sm-7">
        <input type="text" 
            class="form-control" 
            id="member-{{memberNumber}}_phone-number-{{memberPhoneNumber}}_number" 
            name="member-{{memberNumber}}_phone-number-{{memberPhoneNumber}}_number"
            placeholder="555-555-5555" value="{{phoneNumber}}"
            pattern="(\+?[0-9]{0,3}[-\.]?)?[1-9][0-9]{2}[-\.]?[1-9][0-9]{2}[-\.]?[0-9]{4}"
            oninvalid="this.setCustomValidity('Phone numbers must be digits only, and in the form 555-555-5555')"
            oninput="this.setCustomValidity('')"
            {{#if phoneRequired}}required{{/if}}>
    </div>
    <div class="col-sm-3">
        <select id="member-{{memberNumber}}_phone-number-{{memberPhoneNumber}}_type" name="member-{{memberNumber}}_phone-number-{{memberPhoneNumber}}_type" class="form-control" value="{{phoneType}}" {{#if phoneRequired}}required{{/if}}>
            {{#each phoneTypes}}
            <option value="{{id}}">{{type}}</option>
            {{/each}}
        </select>
    </div>
</div>