{% extends "partials/main.html" %}
{% set active_page = "home" %}
{% set container_classes = ' phone-directory' -%}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?{{ now }}">
{% endblock %}

{% block content %}
<div class="alpha-index">
    <div class="indexes">
    {% for alpha in alpha_pagination %}
        <span><a href="#{{alpha}}">{{alpha}}</a></span>
    {% endfor %}
    </div>
</div>

<div class="directory">
    {% for family in families %}
        {% if loop.index0 == 0 or families[loop.index0 - 1].name[0].upper() != family.name[0].upper() %}
            <!-- start letter group -->
            <div class="letter-group">
            <p><a name="{{ family.name[0].upper() }}">{{ family.name[0].upper() }}</a></p>
            <div class="letter-group-families">
        {% endif %}

        <div class="family">
            <h4>{{ family.name }}{% if family.members %} <span class="small-names">({{ family.members|map(attribute="first_name")|join(", ") }})</span>{%endif%}</h4>
            {% if family.members %}
            <ul>
                {% for member in family.members %}
                <li>{{member.first_name}}{% if member.middle_name %} {{member.middle_name}}{% endif %} {{member.last_name}}</li>
                <ul>
                    <li>Birthday: {{months_table[member.birth_month-1]["name"]}} {{member.birth_day}}{% if member.birth_year %}, {{member.birth_year}} (Age: {{calculate_age(member.birth_year,member.birth_month,member.birth_day)}}){% endif %}</li>
                    {% if member.phone_numbers %}
                    {% for phone_number in member.phone_numbers %}
                        <li><span class="phone type">{{phone_number.phone_number_type.type}}</span><span class="phone number"><span class="country-code">{{phone_number.country_code}}</span>-<span class="area-code">{{phone_number.area_code}}</span>-<span class="digits">{{phone_number.digits[:3]}}-{{phone_number.digits[3:]}}</span></span></li>
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% set next_index = loop.index0 + 1 %}
        {% if next_index < families|length %}
            {% if families[next_index].name[0].upper() != family.name[0].upper() %}
                </div>
                </div>
                <!-- end start letter group -->
            {% endif %}
        {% else %}
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}