{% extends "partials/main.html" %}
{% set active_page = "edit" %}
{% set container_classes = ' edit-directory' -%}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editFamily.css') }}?{{ now }}">
{% endblock %}

{% block content %}
<div class="alpha-index">
    <span>Jump to last name:</span>
    {% for alpha in alpha_pagination %}
        <span><a href="#{{alpha}}">{{alpha}}</a></span>
    {% endfor %}
</div>

<div class="directory">
    {% for family in families %}
        {% if loop.index0 == 0 or families[loop.index0 - 1].name[0].upper() != family.name[0].upper() %}
        <p class="divider"><a name="{{ family.name[0].upper() }}">{{ family.name[0].upper() }}</a></p>
        {% endif %}

        <div class="family">
            <h4>{{ family.name }}{%if family.members%} <span class="small-names">({{ family.members|map(attribute="first_name")|join(", ") }})</span>{%endif%}<a class="btn btn-sm btn-warning edit" href="/family/{{family.id}}/edit">edit</a><a class="btn btn-sm btn-danger delete" href="#" data-delete-type="family" data-family-id="{{family.id}}">delete</a></h4>
                <ul>
                    {% if family.members %}
                    {% for member in family.members %}
                    <li>{{member.first_name}}{% if member.middle_name %} {{member.middle_name}}{% endif %} {{member.last_name}}<a class="btn btn-sm btn-warning edit" href="/family/{{family.id}}/member/{{member.id}}/edit">edit</a><a class="btn btn-sm btn-danger delete" href="#" data-delete-type="member" data-member-id="{{member.id}}">delete</a></li>
                    {% endfor %}
                    {% endif %}
                    <li><a class="btn btn-sm btn-success" href="/family/{{family.id}}/member/new">Add a new family member</a></li>
                </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block postscript %}
<script src="{{ url_for('static', filename='js/editFamily.main.js') }}?{{ now }}"></script>
{% endblock %}