{% extends "partials/main.html" %}
{% set active_page = "new" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addFamily.css') }}?{{ now }}">
{% endblock %}

{% block content%}
<h1 class="pl-2">Add Family</h1>
<form method="POST" action="/family/new/">
    <hr>
    <div class="family-information">
        <!-- Family information generated here -->
    </div>
    <div class="family-members-container">
        <!-- Member groups generated here -->
    </div>
    <div class="family-members-controls">
        <span class="family-members-control add">(add family member)</span>
        <span class="family-members-control remove">(remove family member)</span>
    </div>
    <hr>
    <h4>Important Dates</h4>
    <div class="important-family-dates">
        <div class="form-group row align-items-center">
            <label for="birthday-02" class="col-sm-3 col-form-label">Wedding Anniversary</label>
            <div class="col-sm-5">
                <select class="form-control">
                    <option>Month</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control">
                    <option>Date</option>
                </select>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Add new Family</button>
</form>
{% endblock %}

{% block prescript %}
<script>
    var PhoneTypes = {{ PHONE_TYPES|tojson }};
    var YearOptions = {{ years_table|tojson }};
</script>
{% endblock%}

{% block postscript %}
<script src="{{ url_for('static', filename='js/newFamily.form.js') }}?{{ now }}"></script>
{% endblock %}